.spacer {
    width: 200px;
    margin-right: 40px;
    margin-left: 40px;
    margin-top: 40px;
    margin-bottom: 40px;
}

.anchor-to-element {
    position: absolute;
    display: inline-block;
    z-index: 1;
}