.spacer {
    width: 200px;
    margin-right: 80px;
}

.book-spacer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.blah {
    position: absolute;
    display: inline-block;
    z-index: 1;
}